@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}
.header{
  min-height: 100vh;
  width: 100%;
  background-image:linear-gradient(rgba(24, 39, 26, 0.74)),  url(../img/graduation-2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 100px;
  border-radius: 50%;
}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li a::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #bbf436;
  display: block;
  margin: auto;
  transition: all 0.5s ease;
}
.nav-links ul li a:hover::after{
  width: 100%;
}